server:
  port: 8002

spring:
  application:
    name: cloud-payment-service
  datasource:
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/springcloud2020?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    druid:
      validationQuery: SELECT 1

mybatis:
  mapperLocations: classpath:mapper/*.xml
  type-aliases-package: com.lxfly.springcloud.entities

eureka:
  client:
    register-with-eureka: true
    fetchRegistry: true
    service-url:
      #defaultZone: http://localhost:7001/eureka
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka  #集群版
  instance:
    instance-id: lxfly:payment8002
    prefer-ip-address: true
    lease-renewal-interval-in-seconds:  1
    lease-expiration-duration-in-seconds:  2
